body {
  min-height: 100vh;
  color: #222222;
  background: #f0effe;
  line-height: 1.6;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', -apple-system, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { text-decoration: none; }
