<script>
  import { useVuelidate } from '@vuelidate/core';
  import { required } from '@vuelidate/validators';

  import Card from '@/components/common/Card';
  import TextField from '@/components/common/TextField';

  export default {
    name: 'ProfileCard',
    components: { Card, TextField },
    props: {
      user: {
        type: Object,
        required: true,
      },
      isEditableProfile: {
        type: Boolean,
        default: false,
      },
    },
    setup() {
      return { v$: useVuelidate() };
    },
    validations() {
      return {
        user: {
          phone: { required },
        }
      };
    },
    computed: {
      userModel: {
        get() { return this.user; },
        set(value) { this.$emit('update:user', value); },
      },
      phoneErrors() {
        const errors = [];
        if (!this.v$.user.phone.$dirty) {
          return errors;
        }

        if (this.v$.user.phone.required.$invalid) {
          errors.push('Phone is required.');
        }
        return errors;
      },
    },
    methods: {
      validateDummyInput() {
        this.v$.user.$touch();
      }
    },
  };
</script>

<template>
  <div
    data-component-group="cards"
    data-component="profile"
  >
    <Card>
      <div class="card-avatar">
        <span>{{ `${user.firstName.charAt(0)}${user.lastName.charAt(0)}` }}</span>
      </div>

      <div class="card-title">
        <p>{{ `${user.firstName} ${user.lastName}' Profile` }}</p>

        <a
          v-if="isEditableProfile"
          href="#" @click.prevent
        >
          Reset your password <i class="mdi mdi-chevron-right" />
        </a>

        <a
          v-else
          href="#" @click.prevent
        >
          Edit your profile <i class="mdi mdi-chevron-right" />
        </a>
      </div>

      <div class="card-row">
        <div class="card-row__group">
          <label>First Name</label>
          <span>{{ user.firstName }}</span>
        </div>

        <div class="card-row__group">
          <label>Last Name</label>
          <span>{{ user.lastName }}</span>
        </div>
      </div>

      <div class="card-row">
        <div class="card-row__group">
          <label>Email Address</label>
          <span>{{ user.email }}</span>
          <div v-if="isEditableProfile" class="card-row__hint">
            If you need to change your email, please contact <a href="#">Support</a>
          </div>
        </div>
      </div>

      <template v-if="isEditableProfile">
        <div class="card-row">
          <div class="card-row__group">
            <label>Phone</label>
            <TextField
              v-model="userModel.phone"
              placeholder="Type your phone number"
              :error-messages="phoneErrors"
            />
          </div>
        </div>

        <div class="card-row">
          <BasicBtn variation="confirm" @click.prevent="validateDummyInput">
            Save Changes
          </BasicBtn>
        </div>
      </template>

      <div v-else class="card-row">
        <div class="card-row__group">
          <label>Phone</label>
          <span>{{ user.phone }}</span>
        </div>
      </div>
    </Card>
  </div>
</template>

<style lang="scss">
  [data-component-group="cards"][data-component="profile"] {
    .card-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: #575df2;
      border-radius: 50%;

      span {
        color: #ffffff;
        font-weight: bold;
      }
    }

    .card-title {
      margin: 20px 0;

      p {
        margin: 0;
        font-size: 24px;
      }

      a {
        font-size: 12px;
        font-weight: bold;
        color: #585df2;
      }
    }

    .card-row {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      &__group {
        width: 50%;

        &:only-child {
          width: 70%;
        }

        label {
          display: block;
          font-size: 12px;
        }

        span {
          font-size: 14px;
          font-weight: bold;
        }
      }

      &__hint {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
</style>
