<script>
  import { mapState, mapActions } from 'pinia';
  import { authStore } from '@/stores/auth';

  export default {
    name: 'BasicLayout',
    data() {
      return {};
    },
    computed: {
      ...mapState(authStore, ['isLogged']),
    },
    methods: {
      ...mapActions(authStore, { switchUser: 'logout' }),
    }
  };
</script>

<template>
  <div
    data-component-group="layouts"
    data-component="basic"
  >
    <div class="header">
      <div class="header__placeholder">
        <div class="header__title">
          <slot name="title" />
        </div>

        <div class="header__actions">
          <BasicBtn v-if="isLogged" @click.prevent="switchUser()">
            Switch User
          </BasicBtn>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="body__placeholder">
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="layouts"][data-component="basic"] {
    .header {
      display: flex;
      justify-content: center;
      background: #ffffff;
      border-bottom: 1px solid #c3c3c3;

      &__placeholder {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        padding: 10px;
      }

      &__title {
        font-size: 14px;
        font-weight: 500;
      }

      &__actions {
        display: flex;

        button {
          margin-left: 40px;
        }
      }
    }

    .body {
      display: flex;
      justify-content: center;

      &__placeholder {
        position: relative;
        display: flex;
        justify-content: center;
        width: 1280px;
        padding: 40px 10px;
      }
    }
  }
</style>
