<script>
  import { useHead } from '@vueuse/head';
  import { mapState, mapActions } from 'pinia';
  import { isObj, isStr, isNonEmptyArr } from '@/utils';
  import { userStore } from '@/stores/user';
  import { authStore } from '@/stores/auth';

  import Card from '@/components/common/Card';
  import BasicTable from '@/components/tables/Basic';

  export default {
    name: 'LoginView',
    components: { Card, BasicTable },
    setup() { useHead({ title: 'Login View' }); },
    data() {
      return {
        user: null,
        columns: [
          {
            type: 'user',
            value: 'user',
            label: 'User',
          },
          {
            type: 'role',
            value: 'role',
            label: 'Role',
          },
          {
            type: 'actions',
            value: null,
            label: 'Actions',
          },
        ],
      };
    },
    computed: {
      ...mapState(userStore, ['users']),
      hasUsers() {
        return isNonEmptyArr(this.users);
      },
      hasPresetUser() {
        const { user } = this;

        return isObj(user)
          && isStr(user.id);
      },
    },
    created() {
      if (!this.hasUsers) {
        this.setMockedUsers();
      }
    },
    methods: {
      ...mapActions(userStore, ['setMockedUsers']),
      ...mapActions(authStore, { setMockedUser: 'login' }),
      presetUser(user) {
        this.user = user;
      },
      loadUser() {
        this.setMockedUser(this.user);
      }
    },
  };
</script>

<template>
  <BaseLayout>
    <template #title>
      Select a dummy profile type from the list bellow
    </template>

    <div data-view="login">
      <Card>
        <BasicTable
          :items="users" :columns="columns"
          has-custom-items-template
          class="user-list"
        >
          <template #item-cell="{ cell }">
            <template v-if="cell.id === 'user'">
              {{ `${cell.item.firstName} ${cell.item.lastName}` }}
            </template>

            <template v-else-if="cell.id === 'role'">
              {{ cell.item.role }}
            </template>

            <template v-else-if="cell.id === 'actions'">
              <BasicBtn :disabled="user && user.id === cell.item.id" @click="presetUser(cell.item)">
                Set profile
              </BasicBtn>
            </template>
          </template>
        </BasicTable>

        <BasicBtn
          :disabled="!hasPresetUser" variation="confirm"
          @click.prevent="loadUser()"
        >
          Load Mocked User
        </BasicBtn>
      </Card>
    </div>
  </BaseLayout>
</template>

<style lang="scss">
  [data-view="login"] {
    width: 50%;

    .user-list {
      margin-bottom: 20px;
    }
  }
</style>
