<script>
  import { useHead } from '@vueuse/head';
  import { mapState } from 'pinia';
  import { userStore } from '@/stores/user';
  import { authStore } from '@/stores/auth';
  import { isObj, isNonEmptyStr } from '@/utils';
  import { userRoles } from '@/configs/roles';

  import ProfileCard from '@/components/cards/Profile';

  export default {
    name: 'UserView',
    components: { ProfileCard },
    setup() {
      useHead({ title: 'User View' });
    },
    data() {
      return {
        user: {
          firstName: null,
          lastName: null,
          email: null,
          phone: null,
          roleId: null,
          role: null,
        },
        userRoles,
      };
    },
    computed: {
      ...mapState(userStore, ['users']),
      ...mapState(authStore, ['activeUser']),
      hasSetUser() {
        const { activeUser } = this;

        return isObj(activeUser)
          && isNonEmptyStr(activeUser.id);
      },
      canUpdateUser() {
        return this.activeUser.roleId === 1
          && this.$can('update', 'user');
      },
    },
    created() {
      this.extractUserData();
    },
    methods: {
      extractUserData() {
        this.user = { ...this.activeUser };
      },
      updateUser() {
        this.v$.$touch();

        if (this.isLoading || this.v$.$error || this.v$.pending) {
          return false;
        }

        const nextUser = {
          ...this.user,
        };

        this.updateItem(nextUser);
        this.$router.push({ name: 'home' });
      }
    },
  };
</script>

<template>
  <BaseLayout>
    <template #title>
      The active user is set and now the components look and behave according the present dummy permissions
    </template>

    <div data-view="user">
      <ProfileCard
        v-if="hasSetUser"
        :user="user" :is-editable-profile="canUpdateUser"
      />
    </div>
  </BaseLayout>
</template>

<style lang="scss">
  [data-view="user"] {
    width: 50%;

    .user-list {
      margin-bottom: 20px;
    }
  }
</style>
