<script>
  export default {
    name: 'BasicBtn',
    props: {
      modifierClass: {
        type: String,
        default: '',
      },
      isDisabled: {
        type: Boolean,
        default: false,
      },
      variation: {
        type: String,
        default: '',
      },
    },
  };
</script>

<template>
  <button
    data-component-group="common"
    data-component="basic-btn"
    :class="[
      modifierClass,
      { 'type--confirm': variation === 'confirm' },
    ]"
    :disabled="isDisabled"
  >
    <slot />
  </button>
</template>

<style lang="scss">
  [data-component-group="common"][data-component="basic-btn"] {
    height: 32px;
    padding: 0 16px;
    border: 0;
    border-radius: 16px;
    background: #d9d9d9;
    font-size: 13px;
    font-weight: 700;
    color: #333;
    cursor: pointer;

    &:disabled {
      color: #999999;
      background: #e6e6e6;
    }

    &.type--confirm {
      height: 40px;
      padding: 0 22px;
      color: #f3f3f3;
      background: #0000c8;
      border-radius: 20px;

      &:disabled {
        background: #6f73e1;
      }
    }
  }
</style>
