<script>
  export default {
    name: 'Card',
  };
</script>

<template>
  <div
    data-component-group="common"
    data-component="card"
  >
    <slot />
  </div>
</template>

<style lang="scss">
  [data-component-group="common"][data-component="card"] {
    padding: 20px 32px;
    background: #fff;
    border-radius: 10px;
  }
</style>
