<script>
  export default {
    name: 'TextField',
    props: {
      modelValue: {
        type: String,
        default: '',
      },
      type: {
        type: String,
        default: 'text',
        validate: (val) => ['text', 'url', 'email', 'password', 'search'].indexOf(val) !== -1,
      },
      label: {
        type: String,
        default: null,
      },
      placeholder: {
        type: String,
        default: '',
      },
      required: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      errorMessages: {
        type: Array,
        default: () => [],
      }
    },
    computed: {
      hasErrors() {
        return this.errorMessages.length > 0;
      }
    },
    methods: {
      onInput(value) {
        this.$emit('update:modelValue', value);
      }
    }
  };
</script>

<template>
  <div
    data-component-group="common"
    data-component="text-field"
  >
    <span v-if="label" class="label">{{ label }}</span>

    <div>
      <input
        :type="type"
        :value="modelValue"
        :readonly="readonly"
        :required="required"
        :placeholder="placeholder"
        class="text-field"
        @input="onInput($event.target.value)"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
      >
    </div>

    <div v-if="hasErrors" class="errors">
      <ul class="error-list">
        <li
          v-for="(item, index) in errorMessages" :key="index"
          class="list-item"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="common"][data-component="text-field"] {
    .text-field {
      width: 100%;
      height: 36px;
      line-height: 36px;
      padding: 4px 10px;
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: #c6c6c6;
      border-radius: 6px;
      font-size: 14px;

      &:focus {
        border-color: #333333;
        outline: none;
      }
    }

    .label {
      display: block;
      padding-left: 4px;
      font-size: 12px;
      color: #777777;
    }

    .errors {
      .error-list {
        list-style: none;
        padding: 4px 0;
        margin: 0;

        .list-item {
          margin-top: 4px;
          color: #ff0000;
          font-size: 12px;
        }
      }
    }
  }
</style>
