<script>
  import { useHead } from '@vueuse/head';
  import { mapState } from 'pinia';
  import { authStore } from '@/stores/auth';

  export default {
    name: 'App',
    inject: ['$ability'],
    setup() {
      useHead({ titleTemplate: (title) => (title ? `ffwApp - ${title}` : 'ffwApp'), });
    },
    computed: {
      ...mapState(authStore, ['userPermissions']),
    },
    created() {
      this.updateAbility();
    },
    methods: {
      updateAbility() {
        this.$ability.update(this.userPermissions);
      }
    },
  };
</script>

<template>
  <RouterView />
</template>
